doctype html
html(lang="en")
  head
    title Swingin' in the Rain 2014
    link(rel="stylesheet", type="text/css", href="/css/sitr.css")
    meta(name="viewport", content="width=device-width, user-scalable=no")
  body
    #hero.section
      #languages
        a(href="/en")
          img(src="/img/flag-en.svg")
        a(href="/no")
          img(src="/img/flag-no.svg")
      #hero-group(style="background-image:url(#{res.logo})")
      #down
        .fa.fa-chevron-down
    #instructors.section
      #instructors-group
        img.with(src=res.with_ornament)
        .instructor
          a(href="https://www.youtube.com/watch?v=e75FhQsI0UM", target="_blank")
            img.instructor-img(src="/img/jon-jenna.jpg")
          span.instructor-name.pad-before Jon & Jenna
        .instructor
          span.instructor-name.pad-after Audun & Charlotte
          a(href="https://www.youtube.com/watch?v=mXzO5IO-2Qw", target="_blank")
            img.instructor-img(src="/img/audun-charlotte.jpg")
        img.and(src=res.and_ornament)
        .instructor
          img.instructor-img(src="/img/david-skinner.jpg")
          span.instructor-name.pad-before.smaller Skinner Swing Ensemble
    #logistics.section
      #logistics-group
        img.simple-ornament(src="/img/simple-ornament.svg")
        if locale == 'nb'
          | Swingin' in the Rain er en årlig lindy hop workshop i Bergen, 
          | organisert av Cottontails danseklubb. I år vil workshopen finne
          | sted helgen 10.-12. oktober. Det blir kurs på tre nivåer, fantastisk
          | live musikk og mye dansing! Påmelding starter snart!
        else 
          | Swingin' in the Rain is a Lindy Hop dance workshop in Bergen, Norway
          | held by the Cottontails dance club. This year's workshop will be held 
          | on the weekend of the 10th—12th of October. Join us for three levels 
          | of classes, live music, and lots of dancing! Registration opens soon!
        img.flat-ornament(src="/img/flat-ornament.svg")
        .field
          .fa.fa-map-marker
          | Gimle
          span.smaller –Kong Oscars gate 18
          | , U1880
          span.smaller –Domkirkegaten 4
        .field
          .fa.fa-calendar
          | #{locale == 'nb' ? '10.—12. oktober 2014' : '10th-12th October 2014'}
        .field
          .fa.fa-ticket
          | 1000kr, 900kr early bird
        img.detailed-ornament(src="/img/detailed-ornament.svg")
    #footer.section
      #footer-group
        if locale == 'nb'
          | Swingin' in the Rain arrangeres av
        else
          | Swingin' in the Rain is held by
        a(href="http://www.thecottontails.net")
        img.ct-logo(src="/img/ct-logo.svg")
        .email
          if locale == 'nb'
            | Spørsmål? Henvendelser? Send en e-post til  
          else
            | Questions? Inquiries? Email us: 
          a(href="mailto:post@thecottontails.net") post@thecottontails.net
